@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html {
  /*  background: url(../images/greyscale-photo.jpg) no-repeat center center fixed; 
*/
  background-color: #edf4f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 50px;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #353535;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

.clear {
  clear: both;
}

a {
  color: #287aa3;
  text-decoration: none;
}

a:hover {
  color: #39c;
  text-decoration: underline;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

div.wrapper {
  width: 860px;
  height: 100%;
  margin: 0 auto;
  padding: 70px;
  background-color: #f8f8f8;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
  border-color: gray;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 650;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

header {
  width: 290px;
  float: left;
  position: fixed;
}


header ul {
  list-style: none;
  height: 40px;

  padding: 0;

  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);

  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 40px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px;
}

strong {
  color: #222;
  font-weight: 700;
}

header ul li+li {
  width: 88px;
  border-left: 1px solid #fff;
}

header ul li+li+li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

section {
  width: 550px;
  float: right;
  padding-bottom: 50px;
}

div.box {
  padding-bottom: 30px;
}

ul.fancy-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.fancy-list li {
  padding: 8px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #cecece;
  width: 100%
}


menu {
  width: 110px;
  float: left;
  position: fixed;
  padding-bottom: 0px;
  padding-top: 0px;
}

content {
  width: 680px;
  float: right;
  padding-bottom: 0px;
  padding-top: 0px;
}

small {
  font-size: 14px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
}

div.box h2 {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #b9b9b9;
  width: 100% margin:0px;
  padding: 0px;
}

ul.fancy-list a {
  font-style: italic;
}

@media print,
screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer,
  menu {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }


  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header ul {
    display: none;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}